.home-section {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: white;
  color: black;
  padding: 2rem 1rem;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  
}

.home-text {
  text-align: center;
  margin-top: 2rem;
}

.home-greeting,
.home-name {
  font-size: 2rem;
  font-weight: bold;
}

.home-highlight {
  font-size: 2.5rem;
  color: #FFD700;
}

.home-title {
  margin-top: 1rem;
  font-size: 1.5rem;
}

.home-description {
  margin-top: 1.5rem;
  font-size: 1rem;
}

.home-button {
  margin-top: 1.5rem;
  background-color: #FFD700;
  color: gray;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.home-button:hover {
  background-color: darkyellow;
}

.home-image-container {
  display: flex;
  justify-content: center;
}

.home-image {
  width: 16rem;
  height: 16rem;
  object-fit: cover;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .home-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .home-text {
    text-align: left;
  }

  .home-image-container {
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
  }
}
