.footer {
  width: 100%;
  background-color: white;
  color: #FFD700;
  padding: 1.5rem 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-icons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.footer-icon-link {
  color: black;
  transition: color 0.3s ease;
}

.footer-icon-link:hover {
  color: #FFD700;
}

.footer-text {
  color: #FFD700;
}
